
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--silver);
    padding: 10px 0px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 1;
}

.logoContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo {
    height: 80px;
    width: auto;
    margin: 0;
    padding: 0;
}

.toggle {
    display: block;
    cursor: pointer;
    font-size: 40px;
    font-weight: bold;
    color: var(--space);
    margin-right: 20px;
}

.iconsContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center; 
}

.navItem:hover {
    text-decoration: underline;
    font-weight: bold;
    background-color: var(--violet);
    border-radius: 5px;
    padding: 5px;
    width: 90%;
}

.menu {
    display: none;
    flex-direction: column;
    background-color: var(--silver);
    position: absolute;
    top: 90px;
    right: 0;
    width: 20%;
    border-radius: 5px;
    z-index: 5;
    margin-right: 15px;
}

.menu.open {
    display: flex;
}

.navItem {
    margin: 10px 0;
    text-align: center;
    color: var(--water);
    font-weight: bolder;
}

.searchBox {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.searchInput {
    padding: 5px 30px 5px 10px;
    border: 2px solid var(--space);
    border-radius: 20px;
    width: 200px;
    color: var(--violet);
    max-width: 300px;
    background-color: var(--violet);
    color: var(--water);
}

.searchInput::placeholder {
    color: var(--water); 
}

.searchInput:focus {
    
    outline: 2px solid var(--space); 
}


.searchButton {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--water);
}

.modal {
    background-color: var(--silver);
    color: var(--water);
    position: absolute;
    top: 60px;
    right: 0;
    font-size: 18px;
    font-weight: bold;
    width: 200px;
    text-align: center;
    border-radius: 2px;
    z-index: 3;
}

.addressIcon, .cartIcon {
    cursor: pointer;
    position: relative;
    color: var(--violet);
    font-size: 25px;
    margin-right: 15px;
}

.cartIcon {
    position: relative;
    margin-right: 20px;
}

.cartCount {
    position: absolute;
    top: -8px;
    right: -8px;
    color: var(--water);
    font-size: 14px;
    padding: 2px 5px;
    border-radius: 50%;
    font-weight: bolder;
}

.menuToggle {
    display: flex;
    align-items: center;
    order: 3; 
    flex: 0 1 auto;
}

@media (min-width: 576px) {
    .navbar {
        flex-direction: row; 
        justify-content: space-between; 
        height: 80px;
        padding: 10px;
    }

    .searchBox {
        flex: 0 1 auto;
        order: 1; 
        display: flex;
        justify-content: center;
    }

    .logoContainer {
        flex: 1;
        justify-content: flex-start; 
    }

    .iconsContainer {
        flex: 1;
        order: 2; 
        width: auto; 
        justify-content: flex-end; 
    }

    .menuToggle {
        order: 3; 
        width: auto; 
        justify-content: flex-end; 
    }
}

@media (max-width: 575px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 10px;
    }

    .logoContainer, .iconsContainer, .menuToggle {
        width: 100%;
        display: flex;
        justify-content: center;
        order:4;
    }

    .searchBox {
        justify-content: center;
        width: 100%; 
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .iconsContainer {
        justify-content: center;
        order: 3;
    }

    .menu.open {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: relative;
        top: 0;
        right: 0;
    }

    .logoContainer {
        display: flex;
        justify-content: center;
    }

}