
.homepage {
    height: 100%;
    padding: 20px;
    background-color: var(--space);
    color: var(--cream);
    text-align: center;
    padding-bottom: 150px;
}

.banner {
    padding: 15px;
    margin-bottom: 50px;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: var(--water);
    background-color: var(--cream);
    font-size: 25px;
}

.carousel {
    width: 80%;
    margin: 0 auto 40px auto;;
}

.carouselItem {
    position: relative;
}

.carouselImage {
    width: 100%;
    height: auto;
}

/* .shopNow {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: var(--water);
    color: var(--cream);
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.shopNow:hover {
    background-color: var(--violet);
    transform: scale(1.05);
} */

.shopByPetType {
    margin-top: 40px;
}

.petTypeGrid {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.petTypeItem {
    cursor: pointer;
    text-align: center;
    transition: transform 0.3s, color 0.3s;
}

.petTypeItem:hover {
    transform: scale(1.1); 
}

.petTypeItem:hover h3 {
    background-color: var(--violet);
    color: var(--water);
    border-radius: 20px;
}

.petTypeImage {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.productCard {
    background-color: var(--cream);
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px; 
    height: 400px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.productCard img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    max-height: 200px;
    object-fit: cover; 
}

.productCard h3 {
    margin-top: 10px;
    font-size: 18px;
}

.productCard p {
    margin-top: 10px;
    font-size: 16px;
    color: var(--space); 
    text-align: center;
    font-weight: bold;
}

.productCard a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: var(--water); 
    transition: color 0.3s, transform 0.3s;
}

.productCard a:hover {
    color: var(--violet); 
    transform: scale(1.1);
    font-weight: bolder;
    background-color: var(--water);
    border-radius: 20px;
    padding: 5px;
}




