
.orderDetailsContainer {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: grey;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.orderItem {
    margin-bottom: 15px;
    padding: 10px;
    background-color: white;
    border: 1px solid yellow;
    border-radius: 3px;
}

.orderItemHeader {
    font-weight: bold;
    margin-bottom: 5px;
}

.orderItemTotal {
    font-weight: bold;
}

