.formContainer {
    padding: 10px;
    background-color: var(--space);
    color: var(--space);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.formWrapper {
    overflow-y:auto;
    padding-left: 10px;
    height: 100%;
}

.formGroup {
    margin-bottom: 20px;
}

.formGroup label {
    font-weight: bold;
    margin-bottom: 8px;
    font-size: 20px;
}

.formGroup input[type="text"] {
    padding: 8px;
    font-size: 14px;
    border-radius: 4px;
    background-color: var(--violet);
    border: 2px solid var(--space);
    color: var(--water);
    width: 96%;
}

.formGroup input[type="text"]:focus {
    outline: none;
    border: 3px solid var(--space);
}

.formGroup input[type="text"]::placeholder {
    color: var(--water);
}

.submitButton {
    background-color: var(--water);
    border: none;
    padding: 10px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    background-color: var(--water);
    color: var(--cream);
    border: 1px solid var(--violet);
    margin-top: 10px;
    margin-bottom: 20px;
    width: 98%;
}

.submitButton:hover {
    background-color: var(--violet);
    color: var(--water);
    font-weight: bold;
    border: 1px solid var(--water);
}

/* .modalContainer {
    display: flex;
    align-items: center;
    justify-content: center;
} */

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--water);
    color: var(--cream);
    padding: 15px;
    border-radius: 8px;
    z-index: 5000;
    border: 2px solid var(--violet);
    top:25%;
    height: auto;
    width: 500px;
    position: fixed;
    margin-left: 20%;
    margin-right: 20%;
}

.modalHeader {
    color: var(--cream);
    text-align: center;
    font-size: 28px;
}

.modalText {
    color: var(--cream);
    text-align: center;
    font-size: 20px;
}

.modalBody {
    color: var(--cream);
}

.closeButton {
    background-color: var(--space);
    border: none;
    padding: 10px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    color: var(--cream);
}

.closeButton:hover {
    background-color: var(--violet);
    color: var(--space);
    font-weight: bold;
    border: 2px solid var(--space);
}