.formContainer {
    padding: 10px;
    padding-bottom: 20px;
    background-color: var(--space);
    color: var(--space);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    width: 100%;
}

.formWrapper {
    overflow-y: auto;
    padding-left: 10px;
    height: 100%;
}

.formGroup {
    margin-bottom: 20px;
}

.formGroup label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
}

.formGroup input[type="text"],
.formGroup input[type="email"],
.formGroup input[type="phone"] {
    padding: 8px;
    font-size: 14px;
    border-radius: 4px;
    background-color: var(--violet);
    border: 2px solid var(--space);
    color: var(--water);
    width: 96%;
}

.formGroup input[type="text"]:focus,
.formGroup input[type="email"]:focus,
.formGroup input[type="phone"]:focus {
    outline: none;
    border: 3px solid var(--space);
}

.formGroup input[type="text"]::placeholder,
.formGroup input[type="email"]::placeholder,
.formGroup input[type="phone"]::placeholder {
    color: var(--water);
}

.submitButton {
    background-color: var(--water);
    border: none;
    padding: 10px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    background-color: var(--water);
    color: var(--cream);
    border: 1px solid var(--violet);
    margin-top: 10px;
    margin-bottom: 20px;
    width: 98%;
}

.submitButton:hover {
    background-color: var(--violet);
    color: var(--water);
    font-weight: bold;
    border: 1px solid var(--water);
}



